:root {
    --spacing-xss: 0.5rem;
    --spacing-xs: 1rem;
    --spacing-s: 1.5rem;
    --spacing-m: 2rem;
    --spacing-l: 3rem;
    --spacing-xl: 4rem;
    --primary-color: rgb(255, 203, 30);
    --secondary-color: black ;
    --tertiary-color: skyblue;
    --highlight-color: whitesmoke;
    --font-size-reg: 1rem;
    --font-size-medium: 1.5rem;
    --font-size-large: 2rem;
    --font-size-xl: 3rem;
    --font-size-xxl: 4rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Solution to making font size responsive found at https://matthewjamestaylor.com/responsive-font-size */
body {
    font-size: calc(15px + 0.390625vw);
    color: var(--secondary-color);
    line-height: 1.6;
    background-color: var(--tertiary-color);
}

ul {
    list-style-type: none;    
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2 {
    font-size: var(--font-size-medium);
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 3px;    
}

h2 {
    margin-bottom: var(--spacing-xs);
}

i {
    font-size: var(--font-size-xl);
    color: var(--secondary-color);
}

img {
    height: 100%;
    width: 100%;
}

/* Code to overide default button styling from user agent stylesheet */
button {
    display: block;
    border: none;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* UTILITIES */

.master-container {
    max-width: 900px;
    overflow: auto;
    padding: 0 30px;
    margin: var(--spacing-xs) auto;    
}

.container {
    max-width: 400px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 30px;
}

.grid-wrapper {
    width: 100%;
    height: 100%;
}

.grid {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 var(--spacing-xs);
    width: 100%;
    height: 100%;
    place-items: center;
}
.grid-tiles-1 {
    grid-template-columns: repeat(1, 1fr);
}
.grid-tiles-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-tiles-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-tiles-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid-tiles-6 {
    grid-template-columns: repeat(6, 1fr);
}

#answer-tiles , #scramble-tiles .scramble-button , .answer-letter {
    font-size: calc(var(--font-size-medium) + 0.390625vw);
    text-transform: uppercase;
    line-height: normal;
    margin: auto;    
} 

.button-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 100%;
    border-radius: 5px;
    text-align: center;
}

.button-container img {
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 5%;
    right: 0;
    left: 5%;
    bottom: 0;
}

.btn {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
    font-family: sans-serif;
    border-radius: 5px;
}

.control-button {
    background-color: transparent;
    max-width: 100%;
    max-height: 100%;
}

.flex {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100%;
}

.flex-rows {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    text-align: center;
}

.text-center {
    display: flex;
    justify-content: center;
}

/* NAVIGATION MENU */

.navbar {
    height:auto;
    background-color: var(--primary-color);
}

.settings-icon {
    padding: var(--spacing-xs) var(--spacing-xs);
    /* margin: 0 var(--spacing-xs); */
}

.help-icon {
    padding: var(--spacing-xs) 0;    
}

.clear-icon {
    padding: var(--spacing-xs) 0;
}

/* INSTRUCTIONS SECTION */

.hidden {
    display: none;
}

/* TOP DISPLAY SECTION */

#top-display {
    height: 200px;
}

.single-image-display {
    width: 100px;
    display: block;
    margin: var(--spacing-xs) auto;
}

.single-image-display img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;   
}

/* #feedback-info {
    height: 220px;
} */

/* ANSWER BOX SECTION */

.answer-box {
    background-color: var(--highlight-color);
}

.answer-letter {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    max-width: fit-content;
    max-height: fit-content;
    object-fit: cover;
    font-family: sans-serif;
    border-radius: 5px;
    display: block;
    border: none;       
}

/* IMAGE BOX SECTION */

.info-box {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

#display-main {
    align-content: center;
}

/* SCRAMBLED WORD SECTION */

.scramble-button {
    background-color: var(--primary-color);
}

/* CONTROLS SECTION */

#controls {
    width: auto;
    margin: var(--spacing-s) auto;
}

#submit-button {
    border-radius: 5px;
}
